---
// @ts-nocheck
import FooterLinks from '../components/Bits/FooterLinks.tsx'
import FooterLanguageChange from '../components/Bits/FooterLanguageChange.tsx'
import {FOOTER_TEXT} from '../config.ts'
import { getLanguageFromURL } from "../languages";

const {pathname} = Astro.request.url

const time = new Date().getFullYear()
---

<footer class="absolute bottom-8 left-0 right-0 text-center mx-12">
    <div>
        <FooterLinks lang={getLanguageFromURL(pathname)} />
    </div>
    <div>
        <p>
            {FOOTER_TEXT[getLanguageFromURL(pathname)]}
        </p>
        <div>
            <FooterLanguageChange client:load />
        </div>
        <span>{time}</span>
    </div>
</footer>