---
// @ts-nocheck 
// Component Imports
import GContent from '../components/GContent.astro'
// You can import components from any supported Framework here!
import ProjectTechItem from '../components/Bits/ProjectTechItem.tsx'
import ProjectLinks from '../components/Bits/ProjectLinks.tsx'

const {content} = Astro.props

---
<GContent title={content.headerTitle} description={content.headerTitle}>
    <div class="flex justify-center">
        {content.headerImage ?
        <img class="w-full md:w-2/3 rounded shadow hover:shadow-xl" src={content.headerImage} />
        :
        <div class="bg-white h-96 w-2/3 rounded shadow hover:shadow-xl flex justify-center items-center">
            <h3 class="font-semibold text-2xl">{content.title}</h3>
        </div>
        }
    </div>
    <div class="flex items-center justify-between mt-8">
        <h2 class="font-bold text-4xl">{content.title}</h2>
        <div class="flex flex-wrap gap-2">
            {content.links ? <ProjectLinks links={content.links} /> : ""}
        </div>
    </div>
    <div>
        <p class="font-semibold text-xl">{content.company ? `${content.company} - ` : ""}{content.startDate}</p>
        <div class="flex flex-wrap gap-4 my-4">
            {content.techStack.split(",").map(tech => 
                <ProjectTechItem tech={tech.trim()} />
            )}
        </div>
        <article class="text-xl">
            <slot />
        </article>
    </div>
</GContent>